<p>Здравствуйте!</p>

<p>Доступ вашей компании "{{companyName}}" к партнерскому порталу Тринити {{accessState}}.</p>

<p>Причина: {{reason}}</p>

<p>Для восстановления доступа или получения дополнительной информации свяжитесь с вашим менеджером Тринити:</p>

<p>
  {{managerName}}<br>
  {{managerPhone}}<br>
  {{managerEmail}}
</p>

<p>
  С уважением,<br>
  Команда Тринити
</p>
