<!DOCTYPE html>
<html xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes">
    <meta name="format-detection" content="telephone=no, date=no, address=no, email=no, url=no">
    <meta name="x-apple-disable-message-reformatting">
    <meta name="color-scheme" content="light dark">
    <meta name="supported-color-schemes" content="light dark">
    <title></title>
    <!--[if mso]>
    <style type="text/css">
        table {
            border-collapse: collapse;
            border-spacing: 0;
            margin: 0;
            mso-line-height-rule: exactly;
            mso-margin-bottom-alt: 0;
            mso-margin-top-alt: 0;
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
        }

        div, td {
            padding: 0;
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
        }

        div {
            margin: 0 !important;
        }
    </style>
    <![endif]-->
    <!--[if gte mso 9]>
    <xml>
        <o:OfficeDocumentSettings>
            <o:AllowPNG/>
            <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
    </xml><![endif]-->
</head>
<body class="body" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; background: #F1F4F9; height: 100% !important; margin: 0 !important; padding: 0 !important; width: 100% !important; word-spacing: normal;">

    <style type="text/css">
        #outlook a {
            padding: 0;
        }

        .ReadMsgBody {
            width: 100%;
        }

        .ExternalClass {
            width: 100%;
        }

        .ExternalClass,
        .ExternalClass p,
        .ExternalClass td,
        .ExternalClass div,
        .ExternalClass span {
            line-height: 100%;
        }

        a {
            text-decoration: none;
        }

        body,
        table,
        td,
        p,
        li,
        a {
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
        }

        img {
            -ms-interpolation-mode: bicubic;
            display: block;
            border: 0;
            height: auto;
            line-height: 100%;
            outline: none;
            text-decoration: none;
        }

        td {
            vertical-align: top;
        }

        .thread-item.expanded .thread-body .body,
        .msg-body {
            width: 100% !important;
            display: block !important;
        }

        .btn {
            transition: 0.3s !important;
        }

        .btn:hover {
            transition: 0.3s !important;
        }

        .fadeimg {
            transition: 0.3s !important;
            opacity: 1 !important;
        }

        .fadeimg:hover {
            transition: 0.3s !important;
            opacity: 0.7 !important;
        }

        p img {
            display: inline !important;
        }

        :root {
            color-scheme: light dark;
            supported-color-schemes: light dark;
        }

        u + .body .gmail-blend-screen {
            background: #000;
            mix-blend-mode: screen;
        }

        u + .body .gmail-blend-difference {
            background: #000;
            mix-blend-mode: difference;
        }

        u + .body .gmail-blend-exclusion-blk {
            background-color: #000;
            mix-blend-mode: exclusion;
        }

        u + .body .gmail-blend-difference-blk {
            background-color: #000;
            mix-blend-mode: difference;
            color: #fff;
        }
         @media only screen {
        html {
            min-height: 100%;
        }
    }

    @media only screen and (max-width: 616px) {
        table.body .show-for-large {
            display: none !important;
            width: 0;
            overflow: hidden;
        }
    }

    @media only screen and (max-width: 616px) {
        table.body center {
            min-width: 0 !important;
        }

        table.body .container {
            width: 100% !important;
        }
    }

    @media only screen and (max-width: 616px) {
        .mb100 {
            display: inline-block !important;
            width: 100% !important;
        }

        .mwa {
            width: auto !important;
            min-width: 100% !important;
        }
    }

    @media (prefers-color-scheme: dark) {
        .dm-bg-dark {
            background: #1E1E1E !important;
        }

        .body {
            background: transparent !important;
        }

        .dm-c-white {
            color: #fefefe !important;
        }

        .footer {
            background: #282C35 !important;
        }

        .footer p,
        .footer a {
            color: #fefefe !important;
        }
    }

    @media only screen and (max-width: 616px) {
        .header-inner {
            padding: 20px !important;
        }

        .header-logo {
            width: 120px !important;
        }

        .main p {
            font-size: 15px !important;
            line-height: 1.6 !important;
        }

        .main .btn {
            font-size: 15px !important;
            line-height: 100% !important;
            padding: 10px 30px !important;
        }

        .main-inner {
            padding: 0 20px 20px !important;
        }

        .hi {
            font-size: 20px !important;
            border-radius: 10px !important;
        }

        .container {
            border-radius: 20px 20px 0 0 !important;
        }
    }
    </style>
<!-- preheader -->
<div style="display:none !important; display:none; overflow:hidden; float:left; width:0px; max-height:0px; max-width:0px; line-height:0px; visibility:hidden;">&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;&zwnj;&nbsp;
</div>
<!-- /preheader -->
<table class="body" style="background: #F1F4F9; border-collapse: collapse; border-spacing: 0; height: 100%; width: 100%;">
    <tr>
        <td align="center" valign="top" style="padding: 0; text-align: center;">
            <center style="width: 100%;">

                <div class="show-for-large float-center" role="separator" style="line-height:15px; height:15px; font-size:15px" align="center">&#8202;</div>
                <div role="separator" style="line-height:15px; height:15px; font-size:15px" align="center" class="float-center">&#8202;</div>
                <table align="center" class="container dm-bg-dark float-center" style="background: #FFFFFF; border-collapse: separate; border-radius: 34px 34px 0 0; border-spacing: 0; margin: 0 auto; text-align: center; width: 600px;"><tr><td style="padding: 0;">
                    <table class="header" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <tr>
                            <td class="header-inner" style="padding: 44px 23px 41px;">
                                <a href="#" target="_blank" style="color: #2199e8; text-decoration: none;">
                                    <img src="{{URL}}/images/mail/logo-w.png" class="header-logo" width="170" alt="Тринити" style="display: block; font-family: Arial, sans-serif; font-size: 20px; font-weight: bold; text-align: left;">
                                </a>
                            </td>
                        </tr>
                    </table>  <table class="main" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <tr>
                        <td class="main-inner" align="center" style="padding: 0 23px 36px;">
                            <img src="{{URL}}/images/mail/hi1.png" class="mwa hi" width="553" alt="Создание учётной записи" style="border-radius: 25px; display: block; font-family: Arial, sans-serif; font-size: 24px; font-weight: bold; max-width: 100%; text-align: left; width: 100%;">
                            <div class="show-for-large" role="separator" style="line-height:10px; height:10px; font-size:10px">&#8202;</div>
                            <div role="separator" style="line-height:20px; height:20px; font-size:20px">&#8202;</div>
                            <p class="dm-c-white" style="color: #0a0a0a; font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; font-size: 17px; line-height: 1.76; margin: 0 auto; margin-bottom: 10px; padding: 0; text-align: left;">
                                Здравствуйте!<br> Вы&nbsp;отправили заявку для регистрации на&nbsp;партнёрском портале Тринити. Нажмите на&nbsp;кнопку ниже, чтобы подтвердить адрес электронной почты и&nbsp;активировать учётную запись.
                            </p>
                            <div class="show-for-large" role="separator" style="line-height:16px; height:16px; font-size:16px">&#8202;</div>
                            <div role="separator" style="line-height:10px; height:10px; font-size:10px">&#8202;</div>
                            <a href="{{link}}" target="_blank" class="btn" style="background-color: #0047bb; border: 1px solid #0047bb; border-radius: 14px !important; box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07); color: #FFFFFF; display: inline-block; font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; font-size: 20px; font-weight: bold; line-height: 20px; mso-border-alt: 8px solid #0047bb; mso-padding-alt: 0px; padding: 12px 28px 14px; text-align: center; text-decoration: none;">Перейти на&nbsp;портал</a>
                        </td>
                    </tr>
                </table>
                    <table class="footer" style="background: #E7EDF8; border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <tr>
                            <td align="center" style="padding: 20px 20px 30px;">
                                <div class="show-for-large" role="separator" style="line-height:10px; height:10px; font-size:10px">&#8202;</div>
                                <div role="separator" style="line-height:10px; height:10px; font-size:10px">&#8202;</div>
                                <table style="border-collapse: collapse; border-spacing: 0; width: auto;">
                                    <tr>
                                        <td class="mb100" style="padding: 0;">
                                            <table style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                                <tr>
                                                    <td style="padding: 0;">
                                                        <table style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                                            <tr>
                                                                <td align="center" style="height: 16px; padding: 0; padding-bottom: 2px; vertical-align: middle;">
                                                                    <img src="{{URL}}/images/mail/phone.png" width="16" alt style="display: block;">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 0;">
                                                                    <p style="color: #0a0a0a; font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; font-size: 14px; line-height: 21px; margin: 0 auto; padding: 0; text-align: center;">
                                                                        <a href="tel:+88007758746" style="color: #0a0a0a; text-decoration: none;">8 800 775-87-46</a>
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td class="show-for-large" style="height: 10px; padding: 0; width: 40px;"></td>
                                                    <td style="padding: 0;">
                                                        <table style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                                            <tr>
                                                                <td align="center" style="height: 16px; padding: 0; padding-bottom: 2px; vertical-align: middle;">
                                                                    <img src="{{URL}}/images/mail/mail.png" width="18" alt style="display: block;">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="padding: 0;">
                                                                    <p style="color: #0a0a0a; font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; font-size: 14px; line-height: 21px; margin: 0 auto; padding: 0; text-align: center;">
                                                                        <a href="mailto:partners@trinity.ru" style="color: #0a0a0a; text-decoration: none;">partners@trinity.ru</a>
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td class="mb100" style="height: 10px; padding: 0; width: 50px;"></td>
                                        <td class="mb100" style="padding: 0;">
                                            <table style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                                <tr>
                                                    <td align="center" style="height: 16px; padding: 0; padding-bottom: 2px; vertical-align: middle;">
                                                        <img src="{{URL}}/images/mail/www.png" width="16" alt style="display: block;">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="padding: 0;">
                                                        <p style="color: #0a0a0a; font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; font-size: 14px; line-height: 21px; margin: 0 auto; padding: 0; text-align: center;">
                                                            <a href="#" target="_blank" style="color: #0a0a0a; text-decoration: none;">тринити.рф</a>
                                                        </p>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <div role="separator" style="line-height:24px; height:24px; font-size:24px">&#8202;</div>
                                <p style="color: #0a0a0a; font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; font-size: 14px; line-height: 21px; margin: 0 auto; padding: 0; text-align: center;">
                                    Вы&nbsp;получили это письмо, поскольку зарегистрированы на&nbsp;тринити.рф
                                </p>
                                <div class="show-for-large" role="separator" style="line-height:6px; height:6px; font-size:6px">&#8202;</div>
                            </td>
                        </tr>
                    </table></td></tr></table>
                <div class="show-for-large float-center" role="separator" style="line-height:16px; height:16px; font-size:16px" align="center">&#8202;</div>
            </center>
        </td>
    </tr>
</table>
</body>
</html>
